



.c-components-s {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    border-radius: 5%;
    box-shadow: 0 0 20px rgb(10, 10, 10);
    background-color: rgba(25, 25, 25, 0.7);
}


.c-bnts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    width: auto;
}